{#TODO: autoscroll#}
{#TODO: ajax refresh#}

<!DOCTYPE html>

{% load staticfiles %}



<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>JobDB | Home</title>
    <meta name="description" content="company is a free job board template">
    <meta name="author" content="Ohidul">
    <meta name="keyword" content="html, css, bootstrap, job-board">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800' rel='stylesheet' type='text/css'>

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="shortcut icon" href="{% static 'jonaki-job-board-template/img/logo.png' %}" type="image/x-icon">
    <link rel="icon" href="{% static 'jonaki-job-board-template/img/logo.png' %}" type="image/x-icon">

    <link rel="stylesheet" href="{% static 'js/bower_components/bootstrap/dist/css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="{% static 'jonaki-job-board-template/css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'jonaki-job-board-template/css/font-awesome.min.css'%}">
    <link rel="stylesheet" href="{% static 'jonaki-job-board-template/css/fontello.css'%}">
    <link rel="stylesheet" href="{% static 'jonaki-job-board-template/css/animate.css'%}">
    <link rel="stylesheet" href="{% static 'jonaki-job-board-template/css/owl.carousel.css'%}">
    <link rel="stylesheet" href="{% static 'jonaki-job-board-template/css/owl.theme.css'%}">
    <link rel="stylesheet" href="{% static 'jonaki-job-board-template/css/owl.transitions.css'%}">
    <link rel="stylesheet" href="{% static 'jonaki-job-board-template/style.css'%}">
    <link rel="stylesheet" href="{% static 'jonaki-job-board-template/responsive.css'%}">
    <link rel="stylesheet" href="{% static 'jonaki-job-board-template/js/vendor/modernizr-2.6.2.min.js' %}">

    <link rel="stylesheet" href="{% static 'css/custom.css' %}">

</head>
<body>
<div id="preloader">
    <div >...</div>
</div>
<!-- Body content -->


<nav class="navbar navbar-default">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'index' %}"><img src="{% static 'jonaki-job-board-template/img/logo.png' %}" alt=""></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <div class="button navbar-right">
                <div class="search-form wow fadeInDown pulse" data-wow-delay="0.8s">
                    <form action="/search/" method="get" class=" form-inline">
                        <div class="form-group">
                            <input id="query" name="q" type="text" value="{{ query }}">
                        </div>

                        <input type="submit" class="btn" value="Szukaj">


                    </form>
                </div>
            </div>
            <ul class="main-nav nav navbar-nav navbar-right">
                <li class="wow fadeInDown" data-wow-delay="0s">
                    <a {% if request.resolver_match.url_name == 'index' %}class="active" {% endif %}href="{% url 'index' %}">Start</a></li>
                <li class="wow fadeInDown" data-wow-delay="0.1s">
                    <a {% if request.resolver_match.url_name == 'add_job_form' %}class="active" {% endif %}href="{% url 'add_job_form' %}">Dodaj zawód</a></li>
                <li class="wow fadeInDown" data-wow-delay="0.2s">
                    <a {% if request.resolver_match.url_name == 'branze_list' %}class="active" {% endif %}href="{% url 'branze_list' %}">Branże</a></li>
                <li class="wow fadeInDown" data-wow-delay="0.3s">
                    <a {% if request.resolver_match.url_name == 'job_list' %}class="active" {% endif %} href="{% url 'job_list' %}">Lista zawodów</a></li>
                <li class="wow fadeInDown" data-wow-delay="0.4s">
                    <a href="#foot">News</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

{% block base %}

    <div class="slider-area">
        <div class="slider">
            <div id="bg-slider" class="owl-carousel owl-theme hero-unit  ">
                <div class="item my-container"><img src="{% static 'jonaki-job-board-template/img/slider-image-3.jpg' %}" alt="Mirror Edge"></div>
                <div class="item"><img src="{% static 'jonaki-job-board-template/img/slider-image-2.jpg' %}" alt="The Last of us"></div>
                <div class="item"><img src="{% static 'jonaki-job-board-template/img/slider-image-1.jpg' %}" alt="GTA V"></div>
            </div>
        </div>
        <div class="container slider-content">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-12">
                    <h2>Znajdź swój wymarzony zawód</h2>
                    <p>Lekarz, fryzjer i bankowiec to nie jedyne zawody na świecie. Z takim samym wykształceniem,
                        każdy z nas robi coś innego. Czynności, które robimy przez połwe naszego dnia
                        nie muszą być przypadkowe.</p>
                    <h3>Decyduj świadomie! Znajdź zajęcie, które pokochasz.</h3>
                    <div class="wow pulse" data-wow-delay="0.8s">
                        <a href="#dodaj_zawod"> <button type="button" class="btn btn-secondary btn-lg btn-block">DODAJ SWOJ ZAWOD</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="content-area" id="dodaj_zawod">
        <div class="container">
            <div class="row page-title text-center wow zoomInDown" >
                <h5>podziel się ze światem</h5>
                <h2>Dodaj swój zawód!</h2>
                <p>Stwórzmy razem miejsce opisujące świat. Bazę zawodó, w której każdy będzie mógł odnaleść swoja prawdziwa pasję.
                Podejmujmy świadome decyjze. Gdzie, ile, z kim i CO robimy.</p>
            </div>
            <div class="row how-it-work text-center">
                {% block form %}
                    <form class="form-horizontal wow fadeInUp" data-wow-delay="0.8s" method="post">{% csrf_token %}
                <fieldset>
                    <div class="col-lg-4 text-center">
                        {% for field in form %}

                            {% if field == form.opis %}
                                </div>
                                <div class=" col-lg-4 text-center">
                        {% endif %}
                        {% if field == form.dzien %}
                                        </div>
                                <div class=" col-lg-4 text-center">
                        {% endif %}
                        {% if field.errors %}
                            <div class="control-group error">
                                <label class="control-label">{{ field.label }}</label>
                                <div class="controls">{{ field }}
                        <span class="help-inline">
                            {% for error in  field.errors %}{{ error }}{% endfor %}
                        </span>
                                </div>
                            </div>
                        {% else %}
                            <div class="control-group">
                                <label class="control-label">{{ field.label }}</label>
                                <div class="controls">{{ field }}
                                    {% if field.help_text %}
                                        <p class="help-inline"><small>{{ field.help_text }}</small></p>
                                    {% endif %}
                                </div>
                            </div>
                        {% endif %}

                    {% endfor %}
                </div>
                </fieldset>

        <div class="form-actions text-center ">
            <button type="submit" class="btn btn-primary" >Dodaj</button>
        </div>
        </form>
                {% endblock %}

            </div>
        </div>
        <hr>

        <div class="container">
            <div class="row page-title text-center wow bounce"  data-wow-delay="0.1s">
                <h2><span>{{job_number}}</span> Dostępne zawody w bazie </h2>
                <h5>Ostatnio dodane</h5>
            </div>
            <div class="row jobs">
                <div class="col-md-9">
                    <div class="job-posts table-responsive">
                        <table class="table">
{#TODO: tagi dzialaja? #}
                            {% for job in jobs %}
                                <tr class="odd wow fadeInUp" data-wow-delay="{{ t }}+0.1">
                                    <td class="tbl-logo visible-lg"><img src="{% static 'jonaki-job-board-template/img/job-logo1.png' %}" alt=""></td>
                                    <td class="tbl-title"><h4>{{job.pl_job}}<br><span class="job-type">{{job.end_job}}</span></h4></td>
                                    <td><p class="visible-lg">{{job.branza}}</p></td>
                                    <td><p class="visible-lg"><span class="glyphicon glyphicon-tags"></span>
                                        {{ job.tags.all|join:", " }}</p></td>
                                    <td class="tbl-apply">
                                        <a href="{% url 'job_details' job.slug %}">Zobacz szczegóły</a></td>
                                </tr>
                            {% endfor %}

                        </table>
                    </div>
                    <div class="more-jobs">
                        <a href=""> <i class="fa fa-refresh"></i>Zobacz więcej</a>
                    </div>
                </div>
                <div class="col-md-3 hidden-sm">
                    <div class="job-add wow fadeInRight visible-lg" data-wow-delay="1.5s">
                        <h2>Wywalamy to?</h2>
                        <a href="#dodaj_zawod">Dodaj zawód</a>
                    </div>
                </div>
            </div>
        </div>
        <hr>

        <div class="container">
            <div class="row page-title text-center  wow bounce"  data-wow-delay=".7s">
                <h5>co ludzie powiedzą</h5>
                <h2>z życia wzięte</h2>
            </div>
            <div class="row testimonial">
                <div class="col-md-12">
                    <div id="testimonial-slider">

                        {% for job in jobs %}

                            <div class="item">
                                <div class="client-text">
                                    <p>{{ job.dzien }}</p>
                                    <h4><strong>{{ job.pl_job}}, </strong><i>{{ job.branza}}</i></h4>
                                </div>
                                <div class="client-face" data-wow-delay=".9s">
                                    <img src="{% static 'jonaki-job-board-template/img/client-face1.png' %}" alt="">
                                </div>
                            </div>

                        {% endfor %}

                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}
<div class="footer-area" id="foot">
    <div class="container">
        <div class="row footer">
            <div class="col-md-4">
                <div class="single-footer">
                    <img src="{% static 'jonaki-job-board-template/img/footer-logo.png' %}" alt="" class="wow pulse" data-wow-delay="1s">
                    <p>Tworzymy bazę zawodów. Razem. Jeśli dodałeś swój zawód to też jesteś MY. </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="single-footer">
                    <h4>Twitter'owe wieści</h4>
                    <div class="twitter-updates">
                        <div class="single-tweets">
                            <h5>9 godzin temu</h5>
                            <p><strong>Formularz dodany!</strong> - w końcy udało się utworzyć wymarzony formularz do dowania zawodów. Jeszcze tylko problemy z validacją...<a href="#"></a></p>
                        </div>
                        <div class="single-tweets">
                            <h5>2 dni temu</h5>
                            <p><strong>Powoli do celu</strong> - jeszcze bardzo dużo pracy, ale juz jakoś to zaczyna wyglądać.<a href="#"></a></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                sjflkdsajfs

            </div>
            <div class="col-md-4">
                <div class="single-footer">
                    <h4>links</h4>
                    <div class="footer-links">
                        <ul class="list-unstyled">
                            <li><a href="">About Us</a></li>
                            <li><a href="" class="active">Services</a></li>
                            <li><a href="">Work</a></li>
                            <li><a href="">Our Blog</a></li>
                            <li><a href="">Customers Testimonials</a></li>
                            <li><a href="">Affliate</a></li>
                            <li><a href="">Contact Us</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row footer-copy">
            <p><span>(C) webstie, No rights reserved</span> | <span>Made by <a href="https://dribbble.com/siblu">Paweł Lenda</a></span> | <span> Web Designed by <a href="http://ohidul.me">Ohidul Islam</a></span> </p>
        </div>
    </div>
</div>





<script src="{% static 'js/bower_components/jquery/dist/jquery.js' %}"></script>
<script src="{% static 'js/bower_components/jquery-ui/jquery-ui.js' %}"></script>
<script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.2.min.js"><\/script>')</script>
<script src="{% static 'js/bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>
<script src="{% static 'jonaki-job-board-template/js/owl.carousel.min.js' %}"></script>
<script src="{% static 'jonaki-job-board-template/js/wow.js' %}"></script>
<script src="{% static 'jonaki-job-board-template/js/main.js' %}"></script>
{{ form.media }}
</body>
</html>
