{% extends 'addjob/base.html' %}

{% block base %}
    <div class="slider-area">
        <div class="page-header col-lg-offset-1">
            <h1 class="text-capitalize">{{ branza }}</h1>
            <small>Zawody w branży: </small>
        </div>
        {% if list %}
            <div class="content-area container">
                <ul>
                    {% for job in list  %}

                        <li>
                            <h2><a href="{% url 'job_details' job.slug %}">{{ job }}</a>
                                {#TODO: coś z tym sektorem trzeba wymyślić#}
                                <span class="small"> "...{{ job.opis|slice:":50" }}..."</span></h2>

                        </li>

                    {% endfor %}
                </ul>
            </div>
        {% else%}

            <div class="containter">
                <div class="text-center" >
                    <h2>Wygląda na to, że nie ma jeszcze zawodu w tej branży. Możesz być pierwszy, który go doda.</h2>
                    <a href="{% url 'add_job_form' %}"><button class="navbar-btn nav-button wow bounceInRight login" data-wow-delay="0.8s">DODAJ</button></a>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}